.submit_review{
    background-color: white;
   
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    padding: 5px;
}

.submit_review:hover{
    background-color: tomato;
    color: black;
    cursor: pointer;
}

.errorsreviews{
    color: red;
    font-style: italic;
    width: 700px;
}