.review-container{
    width: 700px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.delete-review{
    background-color: white;
   
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    padding: 5px;
}

.delete-review:hover{
    background-color: tomato;
    color: black;
    cursor: pointer;
  }

.id-rev{
    font-size: 15px;
    padding: 3px;
  }
  .review-rev{
    font-size: 15px;
    padding: 3px;
  }

  .star-rev{
    font-size: 15px;
    padding: 3px;
  }

  .spotid-rev{
    font-size: 15px;
    padding: 3px;
  }

  .userid-rev{
    font-size: 15px;
    padding: 3px;
  }

  .review-list{
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
  }