.form_button{
    background-color: white;
   
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    padding: 5px;
}

.form_button:hover{
    background-color: tomato;
    color: black;
    cursor: pointer;
}