*{
  box-sizing: border-box;
  margin: 0;

}


.logo{
  float: left;
  object-fit: contain;
margin-left: 20px;
  height: 100px;
width:30%

}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0

}

.header_right{
  display: flex;
  align-items: center;
}
/* nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  
} */
